<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}<link rel="stylesheet" href="#">{% endblock %}
    {% block javascript %}<script src="#" defer></script>{% endblock %}
    <title>{% block title %}Base template{% endblock %}</title>
</head>

<body>
{% include "/fragments/_header.html.twig" %}

{% block body %}
    
{% endblock %}

{% include "/fragments/_footer.html.twig" %}
</body>
</html>